dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9
django-bootstrap3==6.2.2
django-toolbelt==0.0.1
gunicorn==19.6.0
heroku==0.1.4
oauthlib==1.1.2
Pillow==3.3.1
psycopg2==2.6.2
PyJWT==1.4.2
python-dateutil==1.5
python-openid==2.2.5
python-social-auth==0.2.21
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
static3==0.7.0
whitenoise==3.2.1
xhtml2pdf==0.0.6