{% extends 'base_templates.html' %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-sm-12">
            <h3>AGREGAR DEPARTAMENTO<a class="btn btn-info pull-right" href="{% url 'list_departments'  %}"><i class="fa fa-tasks" aria-hidden="true"></i><br>Lista Departamentos</a></h3>
    </div>
  </div>

<div class="panel">
  <div class="panel-body">
    <form action="{% url 'add_departments' %}" method="post">{% csrf_token %}
    {% csrf_token %}
      <div class="form-group">
        <label class="section-title-p col-md-4"><strong>Agregar un nuevo departamento:</strong></label>
        <div class="col-md-7">
          {{ form.name_department }}<br/>
          <input class="btn btn-primary" type="submit" value="Guardar" />
          <a class="btn btn-default" href="{% url 'list_departments' %}">Cancelar</a> 
        </div>
      </div>
     
    </form>
  </div>
</div>

{% endblock %}