{% extends 'base_templates.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-sm-12">
    <h3>AGREGAR ESTADO<a class="btn btn-info pull-right" href="{% url 'list_states'  %}"><i class="fa fa-tasks" aria-hidden="true"></i><br>Lista Estados</a></h3>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <form action="{% url 'add_states' %}" method="post">{% csrf_token %}
    {% csrf_token %}
      <div class="form-group">
        <label class="section-title-p col-md-4"><strong>Agregar un nuevo Estado:</strong></label>
        <div class="col-md-7">
          {{ form.name_states }}<br/>
          <input class="btn btn-primary" type="submit" value="Guardar" />
          <a class="btn btn-default" href="{% url 'list_states' %}">Cancelar</a> 
        </div>
      </div>
     
    </form>
  </div>
</div>

{% endblock %}