{% extends 'base_templates.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-sm-12">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
        </li>

        <li>
           <i class="fa fa-tags"></i> <a href="{% url 'list_tasks' %}">Tareas </a>
        </li>
        
        <li class="active">
            <i class="fa fa-tags"></i> Agregar Tareas
        </li>
    </ol>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <form action="{% url 'add_tasks' %}" method="post">{{ form.errors }}
    {% csrf_token %}
      <div class="form-group">
        <label class="section-title-p col-md-4"><strong>Agregar un nueva tarea:</strong></label>
        <div class="col-md-7">
          
          <strong>{{ form.responsible.label }}</strong> <input type="text" name="dato" value="{{ dato.id }}" /> {{ dato.id }} <br/>
          <strong>{{ form.department.label }}</strong> {{ form.department }} <br/>
          <strong>{{ form.prioritie.label }}</strong> {{ form.prioritie }} <br/>
          <strong>{{ form.states.label }}</strong> {{ form.states }} <br/>
          <strong>{{ form.start_date.label }}</strong> {{ form.start_date }} <br/>
          <strong>{{ form.finish_date.label }}</strong> {{ form.finish_date }} <br/>
          <strong>{{ form.states_kanban.label }}</strong> {{ form.states_kanban }} <br/>
          <strong>{{ form.activity.label }}</strong> {{ form.activity }} <br/>
          <strong>{{ form.Customers.label }}</strong> {{ form.Customers }} <br/>
          <strong>{{ form.description.label }}</strong> {{ form.description }} <br/>
          <strong>{{ form.answer.label }}</strong> {{ form.answer }} <br/>

          <input class="btn btn-primary" type="submit" value="Guardar" /> 
        </div>
      </div>
     
    </form>
  </div>
</div>
{% endblock %}