{% extends 'base_tasks.html' %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-tags"></i> <a href="{% url 'list_states' %}">Estados </a>
                </li>
                
                <li class="active">
                    <i class="fa fa-tags"></i> Prioridades 
                </li>
            </ol>
    </div>
  </div>
<div class="panel">
<div class="panel-body">  
<form action="{% url 'add_priorities' %}" method="post">{% csrf_token %}
  	<label for="states">Agregar una nueva prioridad</label> 
	{{ form.name_prioritie}} <br/>
  <label for="states">Orden</label> 
  {{ form.order}}
    
  <br/>
 
  <input type="submit" value="Guardar" />
</form>
</div>
</div>

{% endblock %}