{% extends 'base_tasks.html' %}

{% block content %}
<div class="row">
<div class="col-lg-12 col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
            </li>
            
            <li class="active">
                <i class="fa fa-tags"></i> Estados
            </li>
        </ol>
</div>
</div>
<div class="panel">
<div class="panel-body">
<form action="{% url 'add_states' %}" method="post">{% csrf_token %}
  	<label for="states">Agregar un nuevo Estado</label> <br/>
	{{ form.name_states}}
 
  <br/>
 
  <input class="btn btn-primary" type="submit" value="Guardar" />
</form>
</div>
</div>

{% endblock %}