{% extends 'base_templates.html' %}

{% block content %}

<div class="row">
  <div class="col-lg-12 col-sm-12">
          <h3>ELIMINAR DEPARTAMENTO</h3>
  </div>
</div>

<div class="panel">
    <div class="panel-body">
        <form method="POST">
            <div class="form-group col-md-12">
                <label class="section-title-p ">Eliminar Departamento:</label>
                <label class="section-title-p "><strong>{{ object.name_department }}</strong></label>{% csrf_token %}
            </div>
            <br /><br /><br />
            <div class="col-md-12">         
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn btn-default" href="{% url 'list_departments' %}">Cancelar</a>
            </div>

        </form>
    </div>
</div>


{% endblock %}