{% extends 'base_tasks.html' %}

{% block content %}

  <div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-tags"></i> <a href="{% url 'list_states' %}">Estados </a>
                </li>
                
                <li class="active">
                    <i class="fa fa-tags"></i> Estados Kanban 
                </li>
            </ol>
    </div>
  </div>
  
<div class="panel">
<div class="panel-body">
<form method="POST">{% csrf_token %}
  	<label for="states">Editar Estado Color</label> <br/>
	{{ form.as_p}}<br/>
 
  <br/>
 
  <input class="btn btn-primary" type="submit" value="Guardar" />
</form>
</div>
</div>

{% endblock %}