{% extends 'base_tasks.html' %}

{% block content %}
        <div class="panel">
        	<div class="panel-body">
            <div class="table-responsive">
        	<table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th>Estado</th>
                  <th>Funciones</th>
                </tr>  
                </thead>  	
                  {% for state in state1 %}
                  <tbody>
					<tr>
					<td>{{ state.name_states }}</td>
					<td><a class="btn btn-primary" href="{% url 'edit_states' pk=state.pk %}">Editar</a> <a class="btn btn-danger" href="{% url 'delete_states' pk=state.pk %}">Borrar</a></td> 
                    </tr>
                  </tbody>
                  {% endfor %}
            </table>
            </div>
            </div>	      
        </div>

        <p><a class="btn btn-primary btn-lg pull-right" href="{% url 'add_states' %}">Agregar nuevo estado</a></p><br />
    

{% endblock %}