{% extends 'base_administrator.html' %}

{% block content %}

          <div class="row">
            <div class="col-lg-12 col-sm-12">                    
                 <h3>ACTIVIDADES
                 <a class="btn btn-primary pull-right" href="{% url 'activity_add'  %}"><i class="fa fa-plus" aria-hidden="true"></i><br>Agregar</a></h3>

            </div>
            </div>            

            <div class="panel">
                        <div class="panel-body">
                        <div class="table-responsive">

                        <table class="table table-bordered table-hover table-striped" id="activity">
                            <thead>
                                <tr>
                                    <th>Lista de Actividades</th>
                                    <th>funciones</th>
                                </tr>  

                            </thead>  
                                                                
                            <tbody>   {% for activity in activi %} 
   
                                <tr>                                    
                                    <td>{{ activity.activity }} </td> 

                                    <td><a class="btn btn-primary" href="{% url 'activity_edit' pk=activity.pk %}">Editar</a> <a class="btn btn-danger" href="{% url 'activity_delete' pk=activity.pk %}">Borrar</a></td> 

                                </tr>
                            </tbody>    {% endfor %}
                        </table> 

                        </div>
                        </div>        
            </div>
            <a href="https://mail.google.com/mail/#inbox">Gmail</a>
</div>              
{% endblock %}
