{% extends 'base_administrator.html' %}

{% block content %}

<div class="row">
      <div class="col-lg-12 col-sm-12">
      <H3>CONFIGURACIÓN</H3>
      </div>
</div>

<div class="panel">
      <div class="panel-body">
            <div class="table-responsive">

             <div class="row">

                  <div class="col-md-6">
                  <i class="pe-7s-note fa-2x"></i>                  
                  <a class="btn btn-primary"  href="{% url 'activities_list' %}">Actividades</a>
                  </div>

                  <div class="col-md-6">
                   <i class="pe-7s-folder fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'projects_list' %}">Proyecto</a>
                  </div>

                  <div class="col-md-6">
                   <i class="pe-7s-edit fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'priorities_list' %}">Prioridades</a>
                  </div>
                  
                  <div class="col-md-6">
                   <i class="pe-7s-ticket fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'states_list' %}">Estados </a>
                  </div>

                  <div class="col-md-6">
                   <i class="pe-7s-network fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'departments_list' %}">Departamentos </a>
                  </div>
                 
                  <div class="col-md-6">
                   <i class="pe-7s-notebook fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'customers_list' %}">Clientes</a>
                  </div>

                   <div class="col-md-6">
                   <i class="pe-7s-ticket fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'states_kanban_list' %}">Estados Kanban </a>
                  </div>                  
                  
                  <div class="col-md-6">
                   <i class="pe-7s-paint fa-2x"></i>
                   <a class="btn btn-primary"  href="{% url 'list_color' %}">Color </a>
                  </div>
            </div>  

          
            
      </div>        
</div>

<a href="https://mail.google.com/mail/#inbox">Gmail</a> 
</div>      

{% endblock %}