{% extends 'base_administrator.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-sm-12">
          <h3>EDITAR TAREA
    <a class="btn btn-info pull-right" href="{% url 'tasks_list'  %}"><i class="fa fa-tasks" aria-hidden="true"></i><br>Lista Tareas</a>
    
      <a class="btn btn-default pull-right" href="{% url 'tasks_list' %}">Cancelar</a>
      
      </h3>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <form method="post">{{ form.errors }}
    <input class="btn btn-primary pull-right" type="submit" value="Guardar" />
    {% csrf_token %}
      <div class="form-group">
        <div class="col-md-6">

          
          <strong>{{ form.responsible.label }}</strong> {{ form.responsible }} <br/>
          <strong>{{ form.department.label }}</strong> {{ form.department }} <br/>
          <div class="form-group has-error"  >
          <strong>{{ form.activity.label }} *</strong>{{ form.activity }}
          <label class="control-label" for="inputError" >{{ form.activity.errors }}</label> <br/>
          </div>
          <strong>{{ form.prioritie.label }}</strong> {{ form.prioritie }} <br/>
          <strong>{{ form.states.label }}</strong> {{ form.states }} <br/>
          <strong>{{ form.states_kanban.label }}</strong> {{ form.states_kanban }} <br/>
          <strong>{{ form.Customers.label }}</strong> {{ form.Customers }} <br/> 

        

        </div>
         <div class="col-md-6">

          
          <div class="form-group has-error"  >
          
          <strong>{{ form.description.label }} *</strong> <div style="overflow-y: auto;height:100px;width:428px;">{{ form.description }}</div>
          <label class="control-label" for="inputError" >{{ form.description.errors }}</label> <br/>
          </div> 
          

          <strong>{{ form.answer.label }}</strong> <div style="overflow-y: auto;height:100px;width:428px;"> {{ form.answer }}</div> <br/> 
          <div class="form-group has-error">
          <strong>{{ form.estimated_time.label }} *</strong> {{ form.estimated_time }}
          <label class="control-label" for="inputError">{{ form.estimated_time.errors }}</label> <br/>
          </div>
          <strong>{{ form.total_time.label }}</strong> {{ form.total_time }} <br/>

        </div>
      </div>
     
    </form>
  </div>
</div>
</div>
{% endblock %}