<table class="table" id="table">
    <tbody>

      <h3>tareas</h3>
		
      	{% for tareas in user.contributors.tasks_set.all %}<tr>
		    <td>
		        <label class="checkbox">
		            <input type="checkbox" value="" data-toggle="checkbox">
		        </label>

		    </td>
		    	
			  	<td>{{ tareas.name_task}}</td>
			  	<td class="td-actions text-right">
				    <a href="{% url 'tasks_edit' pk=tareas.pk %}" class="btn btn-info btn-simple btn-xs">
				        <i class="fa fa-edit"></i>
				    </a>
				    <a href="{% url 'tasks_delete' pk=tareas.pk %}" class="btn btn-danger btn-simple btn-xs">
				        <i class="fa fa-times"></i>
				    </a>
				</td>
		</tr>
	
		
    	{% endfor %}
       
	</tbody>
</table>            
       

