{% extends 'base_templates.html' %}

{% block content %}
<div class="row">
<div class="col-lg-12 col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
            </li>
            
            <li>
                <i class="fa fa-tags"></i> <a href="{% url 'list_activities' %}">Actividades </a>
            </li>

            <li class="active">
                <i class="fa fa-tags"></i> Add Activities
            </li>
        </ol>
</div>
</div>
<div class="panel">
<div class="panel-body">
<label for="states">Agregar una nueva Actividad</label> <br/>
	<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
 	 <br/>
 	 <input class="btn btn-primary" type="submit" value="Guardar" />
	</form>
</div>
</div>

{% endblock %}