{% extends 'base_tasks.html' %}

{% block content %}
 <script src="/static/js/jquery.min.js"></script>
<div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>
                
                <li class="active">
                    <i class="fa fa-tags"></i> Actividades
                </li>
            </ol>
    </div>
    </div>

	<div class="panel">
    <div class="panel-body" >
    <form>
        {% csrf_token %} 
        <label for="states">Editar Estado</label> <br/>
            <input  value={{activi.activity}} />
            <br/>
 
            <input class="btn btn-primary" type="submit" id="edit-activity" value="Guardar" />
    </form>
    </div>
    </div>
 <script src="/static/js/jquery.min.js"></script>
<script>

  $("form").submit(function(event){

         console.log( "entrando ajax");
         event.preventDefault()
        $.ajax({
            type: 'DELETE',
            url: '/activities/'+ activi.id,
            //data: { pk=activi.id },
            success: function() {
                
                alert('Object deleted!')
            },
            //headers: { 'X_METHODOVERRIDE': 'DELETE' }
        });

  })          

</script>
{% endblock %}
