{% extends 'base_templates.html' %}

{% block content %}
 <script src="/static/js/jquery.min.js"></script>
<div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'list_activities' %}">Actividades</a>
                </li>
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'list_projects' %}">Proyectos</a>
                </li>
                
                <li class="active">
                    <i class="fa fa-tags"></i> Borrar
                </li>
            </ol>
    </div>
    </div>

<div class="panel">
    <div class="panel-body">
        <form>
            {% csrf_token %} 
            <div class="form-group col-md-12">
                <label class="section-title-p ">Eliminar Producto: </label>
                <label class="section-title-p "><strong> {{produ.project}} </strong></label>
                <input type="hidden"  id="pk" value={{produ.id}} /> 
            </div>
            <br /><br /><br />
            <div class="col-md-12">         
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn btn-default" href="{% url 'list_projects' %}">Cancelar</a>
            </div>

        </form>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>

<script>

  $("form").submit(function(event){
         
         console.log( "entrando ajax");
         //console.log(pk);
         event.preventDefault()
         var pk = $("#pk").val();
         console.log(pk);
        $.ajax({
            type: 'DELETE',
            url: '/projects/'+pk,
            
            success: function() {
                alert('Object deleted!')
            },
            //headers: { 'X_METHODOVERRIDE': 'DELETE' }
        });

  })          

</script>
{% endblock %}
