{% extends 'base_tasks.html' %}

{% block content %}

<div class="row">
            <div class="col-lg-12 col-sm-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                        </li>
                        
                        <li class="active">
                            <i class="fa fa-tags"></i> Actividades
                        </li>
                    </ol>
            </div>
            </div>

	<h1>lista de tareas pendientes</h1> 
	
	    <select id="activity" name="activity" type="text" placeholder="placeholder" class="form-control input-md">
            <option value="0">Seleccione</option>
                {% for activity in activi %}
            <option value="{{ activity.id }}">{{ activity.activity }}</option>
                {% endfor %}
        </select>
        <button class="btn btn-primary" type=" type="submit">Editar</button>
        <button class="btn btn-primary" type=" type="submit">eliminar</button>

{% endblock %}

{% block javascript %}
<script>
  $("#id_activity").change(

    function(){
      //console.log( '/ciudades?departamento='+ $("#id_departamento").val());
       $.ajax({
         url: '/action_activity?departamento='+ this.value, // la URL para la petición
         type: 'PUT', // especifica si será una petición POST o GET
         success : function(data) { // código a ejecutar si la petición es satisfactoria;
              print "registro actualizado"
              }
          }
        });
  });


</script>
{% endblock %}
