{% extends 'base_templates.html' %}

{% block content %}

<div class="row">
            <div class="col-lg-12 col-sm-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                        </li>
                        
                        <li class="active">
                            <i class="fa fa-tags"></i> Actividades
                        </li>
                    </ol>
            </div>
            </div>

	<h1>Seleccione producto a editar</h1> 
	
	    <select id="activity" name="activity" type="text" placeholder="placeholder" class="form-control input-md">
            <option value="0">Seleccione</option>
                {% for producto in produ %}
            <option value="{{ product.id }}">{{ producto.product }}</option>
                {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Editar</button>
        <button class="btn btn-primary" type="submit">eliminar</button>

{% endblock %}