{% extends 'base_templates.html' %}

{% block content %}
 <script src="/static/js/jquery.min.js"></script>
<div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>
                
                <li class="active">
                    <i class="fa fa-tags"></i> Actividades
                </li>
            </ol>
    </div>
    </div>

	<div class="panel">
    <div class="panel-body" >
    <form>
        {% csrf_token %} 
        <label for="states">Editar Estado</label> <br/>
            <input value= {{activi.activity}} />
            <id="pk" {{activi.id}} />  
            <input type="hidden"  id="pk" value={{activi.id}} /> 
            <br/>
 
            <input class="btn btn-primary" type="submit" id="edit-activity" value="Guardar" />
    </form>
    </div>
    </div>
 <script src="/static/js/jquery.min.js"></script>
<script>

  $("form").submit(function(event){
         
         console.log( "entrando ajax");
         //console.log(pk);
         event.preventDefault()
         var pk = $("#pk").val();
         console.log(pk);
        $.ajax({
            type: 'DELETE',
            url: '/activities/'+pk,
            
            success: function() {
                alert('Object deleted!')
            },
            //headers: { 'X_METHODOVERRIDE': 'DELETE' }
        });

  })          

</script>
{% endblock %}
