{% extends 'base_templates.html' %}

{% block content %}

          <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h3>PROYECTOS</h3>                
              </div>                       
            <div class="panel">
                        <div class="panel-body">
                        <div class="table-responsive">

                        <table class="table table-bordered table-hover table-striped">
                            <thead>                                
                                <tr>
                                    <th>lista de proyectos</th>
                                    <th>funciones</th>
                                </tr>
                            </thead> 
                            <tbody> {% for proyecto in project %}
                                 <tr>                                    
                                    <td>{{ proyecto.project}} </td> 
                                    <td><a class="btn btn-primary" href="{% url 'edit_projects' pk=proyecto.pk %}">Editar</a> <a class="btn btn-danger" href="{% url 'delete_projects' pk=proyecto.pk %}">Borrar</a></td> 
                                </tr>
                            </tbody> {% endfor %}
                        </table>
                        </div>
                        </div>        
            </div>
            <p><a class="btn btn-primary btn-lg pull-right" href="{% url 'add_projects' %}">Agregar </a></p><br />

{% endblock %}