{% extends 'base_templates.html' %}

{% block content %}
<div class="row">
<div class="col-lg-12 col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
            </li>
            
            <li>
                <i class="fa fa-tags"></i> <a href="{% url 'list_activities' %}">Actividades </a>
            </li>
            <li>
                <i class="fa fa-tags"></i> <a href="{% url 'list_activities' %}">Productos </a>
            </li>

            <li class="active">
                <i class="fa fa-tags"></i> Add productos
            </li>
        </ol>
</div>
</div>

<div class="panel">
  <div class="panel-body">
    <form action="{% url 'add_projects' %}" method="post">{% csrf_token %}
    {% csrf_token %}
      <div class="form-group">
        <label class="section-title-p col-md-4"><strong>Agregar un nuevo Proyecto:</strong></label>
        <div class="col-md-7">
          {{ form.project }}<br/>
          <input class="btn btn-primary" type="submit" value="Guardar" /> 
        </div>
      </div>
     
    </form>
  </div>
</div>

{% endblock %}