<div class="col-lg-6 col-sm-6">

  <h4 class="title">Horas por proyecto</h4>

    <div class="col-lg-6 col-sm-6">
        <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">

            <thead>
                <tr>
                    <th align="left">PROYECTOS</th>
                    <th>Horas</th>
                </tr>
            </thead>
            <tbody>{% for p in project %}
                <tr>
                    <td>{{ p }}</td>
                    <td>{{ len(lista) }}</td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Horas</th>
                </tr>
            </thead>
            <tbody>{% for l in lista %}
                <tr>
                    <td>{{ l }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        </div>
    </div>
  </div>
