<div class="row-fluid">
    <div class="tab-content">
        <div class="tab-pane active" id="date">
            <script src="../static/js/dragAndDrop.js" type="text/javascript"></script>
            <form  id="form_task" name="contact-form" method="POST" onsubmit="return validacion()" action="save_task/" >
            {% csrf_token %}

                <div class="form-group has-error"  >
                    <strong>{{ form.name_task.label }} *</strong>{{ form.name_task  }}</div><label class="control-label" for="inputError" >{{ form.name_task.errors }}</label>  <br>

                <div class="form-group has-error" >
                    <strong >{{ form.description.label }} *</strong> <div style="overflow-y: auto;height:100px;width:430px;"> {{ form.description }}</div>
                    <label class="control-label" for="inputError">{{ form.description.errors }}</label> <br/>
                </div>

                <div class="col col-md-12" id="states_kanban1">


                </div>

                <div class="col col-md-12">
                    <div class="col col-md-12 form-group">
                        <strong>Responsable:</strong> {{ form.responsible }} <br/>
                    </div>
                </div>

                <div class="col col-md-12">
                    <div class="col col-md-6 form-group">
                            <strong>{{ form.department.label }}</strong>{{ form.department }}
                        </div>
                    <div class="col col-md-6 form-group">
                      <strong>{{ form.Customers.label }}</strong> {{ form.Customers }} <br/>
                    </div>
                </div>

                <div class="col col-md-12">

                    <div class="col col-md-6 form-group">
                      <label>Actividad</label>
                      <select name="actividad" id="id_actividad" onchange="aviso_valida()" class="form-control">
                        <option value="0">-- Seleccina una actividad --</option>
                          {% for activi in actividad %}
                            <option  value="{{ activi.id }}" >{{ activi.nombre }}</option>
                          {% endfor %}
                      </select>
                      <p id="id_sinactivi" style="color: red"></p>
                    </div>

                    <div class="col col-md-6 form-group">
                      <strong>{{ form.prioritie.label }}</strong> {{ form.prioritie }} <br/>
                    </div>
                </div>

                <div class="col col-md-12">
                    <div class="col col-md-6 form-group">
                        <strong>{{ form.states.label }}</strong>{{ form.states }} <br/>
                    </div>
                    <div id="id_kanban" class="">

                    </div>
                    <div class="col col-md-3 form-group">
                        <div class="col col-md-12"><strong>{{ form.estimated_time.label }}</strong></div> <div class="col col-md-6">{{ form.estimated_time }} </div><p style="margin-top: 30px; margin-bottom: 0px;">H</p> <br/>
                    </div>
                    <div class="col col-md-3 form-group">
                      <div class="col col-md-12"><strong>{{ form.total_time.label }}</strong></div> <div class="col col-md-6"> {{ form.total_time }} </div><p style="margin-top: 30px; margin-bottom: 0px;">H</p> <br/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

<script src="../static/js/dragAndDrop.js" type="text/javascript"></script>
