<!DOCTYPE html>
<html class="full" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Board - Contati</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/board/css/the-big-picture.css" rel="stylesheet">

</head>
<script type="text/javascript">
function allowDrop(ev) {
  ev.preventDefault();
}
function drag(ev) {
ev.dataTransfer.setData("text",ev.target.id)
}
function drop(ev) {
  ev.preventDefault();
  var datos=ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById( datos));
}
</script>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">option</a>
                    </li>
                    <li>
                        <a href="#">option</a>
                    </li>
                    <li>
                        <a href="#">option</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="col-md-4 col-sm-4 well well-lg" id="div1" ondragover="allowDrop(event)" ondrop="drop(event)">
                  <a class="btn btn-primary pull-right" href="{% url 'add_tasks'  %}"><i class="fa fa-plus" aria-hidden="true"></i><br>Agregar</a></h3>

                    <h1>To do!</h1>
                    <hr>
                    <input type="text" class="form-control" id="usr" draggable="true" ondragstart="drag(event)" placeholder="primer">
                    <input type="text" class="form-control" id="usr" draggable="true" ondragstart="drag(event)" placeholder="segundo">
                    <input type="text" class="form-control" id="usr" draggable="true" ondragstart="drag(event)" placeholder="tercero">
                </div>
                <div class="col-md-4 col-sm-4 well well-lg" id="div2" ondragover="allowDrop(event)" ondrop="drop(event)">
                    <h1>Doing!</h1>
                    <hr>
                    <p>tasks 2</p>
                    <p>tasks 7</p>
                    <p>tasks 8</p>
                </div>
                <div class="col-md-4 col-sm-4 well well-lg" id="div3" ondragover="allowDrop(event)" ondrop="drop(event)">
                    <h1>Finish</h1>
                    <hr>

                    <p>tasks 10</p>
                </div>


            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
