{% load staticfiles %}
<!DOCTYPE html>
<html class="full" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Board - Contati</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'board/css/the-big-picture.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<script type="text/javascript">

function star(ev) {
  console.log(ev.target)
ev.dataTransfer.effectAllowed = 'move';
ev.dataTransfer.setData("text",ev.target.id);
ev.dataTransfer.setDragImage(ev.target,80,80);
}
function enter(ev) {
  return true;
}
function over(ev) {
  ev.preventDefault();
}
function drop(ev) {
  ev.preventDefault();
  var datos=ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById( datos));
  ev.stopPropagation();
}
function end(ev) {
ev.dataTransfer.clearData("text");
}
</script>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><i class="fa fa-users"></i> Tableros Usuarios</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cog"></i> Administración</a>
                    </li>
                    <li>
                        <a href="#">option</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="col-md-4 col-sm-4 well well-lg" id="div1" ondragover="over(event)" ondrop="drop(event)" ondragenter="enter(event)">

                  <a id="agregar" class="btn btn-primary pull-right" data-toggle="modal" href="#MyModal"><i class="fa fa-plus" aria-hidden="true"></i><br>Agregar</a></h3>

                    <h1>To do!</h1>
                    <hr>
                    <input type="text" class="form-control" id="usr" draggable="true" ondragstart="star(event)" ondragend="end(event)" placeholder="primer">
                    <input type="text" class="form-control" id="usr1" draggable="true" ondragstart="star(event)" ondragend="end(event)" placeholder="segundo">
                    <input type="text" class="form-control" id="usr2" draggable="true" ondragstart="star(event)" ondragend="end(event)" placeholder="tercero">
                </div>
                <div class="col-md-4 col-sm-4 well well-lg" id="div2" ondragover="over(event)" ondrop="drop(event)" ondragenter="enter(event)">
                    <h1>Doing!</h1>
                    <hr>

                </div>
                <div class="col-md-4 col-sm-4 well well-lg" id="div3" ondragover="over(event)" ondrop="drop(event)" ondragenter="enter(event)">
                    <h1>Finish</h1>
                    <hr>

                    <p>tasks 10</p>
                </div>

            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Agregar Tarea</h4>
          </div>
          <div class="modal-body">
            <h3>Modal Body</h3>
            <form name="contact-form" method="POST" action="{% url 'add_board_taks' %}">
                            <div class="form-group">
                                <strong>{{ form.responsible.label }}</strong> {{ form.responsible }} <br/>
                            </div>
                            <div class="form-group has-error">
                                <strong>{{ form.description.label }} *</strong> {{ form.description }}
                                <label class="control-label" for="inputError">{{ form.description.errors }}</label> <br/>
                            </div>
                            <div class="form-group">
                                <strong>{{ form.activity.label }}</strong>{{ form.activity }} <br/> 
                            </div>
                            <div class="form-group">
                                <strong>{{ form.states.label }}</strong> {{ form.states }} <br/>
                            </div>
                            <div class="form-group">
                                <strong>{{ form.states_kanban.label }}</strong> {{ form.states_kanban }} <br/>
                            </div>
                            <div class="form-group has-error">
                                <strong>{{ form.start_date.label }} *</strong> {{ form.start_date }}
                                <label class="control-label" for="inputError">{{ form.start_date.errors }}</label> <br/>
                            </div>
                            <div class="form-group">
                                <strong>{{ form.prioritie.label }}</strong> {{ form.prioritie }} <br/>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                        </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>
