<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <ul class="nav nav-tabs pull-right">
            <li class="active">
                <a href="#formulario" data-toggle="tab">Tarea</a>
            </li>
        </ul>
        <h4 class="modal-title" id="myModalLabel">Editar Tarea</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="formulario">
                    <form id="edit_tablero" name="contact-form" method="POST" >
                    {% csrf_token %}

                        <div class="form-group has-error"  >
                            <strong>Nombre Tarea *</strong>
                            <br>
                            <div id="nam"></div>
                        </div>

                        <div class="form-group has-error"  >

                        <strong>Descripción *</strong> <div style="overflow-y: auto;height:100px;width:428px;"> <textarea class="form-control" name="description" id="di" cols="40" rows="50"></textarea> </div>
                        <br/>
                        </div>

                        <div class="col col-md-12" id="states_kanban1">


                        </div>

                        <div class="col col-md-12">
                            <div class="col col-md-12 form-group">
                                <strong>Responsable:</strong>
                                <br/>
                                <select name="responsible" type="text" class="form-control">
                                {% for row in tare %}
                                  <option  value="{{ row.id }}" >{{row.responsible }}</option>
                              {% endfor %}
                        </select>
                        <div id="respon"></div>
                            </div>
                        </div>

                        <div class="col col-md-12">
                            <div class="col col-md-6 form-group">
                                    <label>Actividad</label>
                              <select name="actividad" id="id_actividad" onchange="aviso_valida()" class="form-control">
                                <option value="0">-- Seleccina una actividad --</option>
                                  {% for activi in actividad %}
                                    <option  value="{{ activi.id }}" >{{ activi.nombre }}</option>
                                  {% endfor %}
                              </select>
                              <p id="id_sinactivi" style="color: red"></p>
                                </div>
                            <div class="col col-md-6 form-group">
                              <strong>{{ form.prioritie.label }}</strong> <br/>
                            </div>
                        </div>

                        <div class="col col-md-12">
                            <div class="col col-md-6 form-group">
                                    <strong>Departamento: </strong><br>

                                </div>
                            <div class="col col-md-6 form-group">
                              <strong>Cliente: </strong><br/>

                            </div>
                        </div>

                        <div class="col col-md-12">
                            <div class="col col-md-6 form-group">
                                <strong>{{ form.states.label }}</strong><br/>
                            </div>
                            <div class="col col-md-3 form-group">
                                <div class="col col-md-12"><strong>Tiempo Estimado</strong></div> <div class="col col-md-6"> <div id="estimate"></div> </div><p style="margin-top: 30px; margin-bottom: 0px;">H</p> <br/>
                            </div>
                            <div class="col col-md-3 form-group">
                              <div class="col col-md-12"><strong>Tiempo Real</strong></div> <div class="col col-md-6"> <div id="totaltime"></div>  </div><p style="margin-top: 30px; margin-bottom: 0px;">H</p> <br/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>

              </div>
        </div>
    </div>
</div>
