{% extends 'base_templates.html' %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="header">
                        <h4 class="title"><i class="fa fa-user" aria-hidden="true"></i> <strong>Bienvenid@, {{ user.first_name }} {{ user.last_name }}</strong></h4>
                        <p class="category">Email, lo más reciente</p>
                    </div>
                    <div class="content">
                                          <div><p><a href="https://mail.google.com/mail/#inbox">Gmail</a></p></div>

                                          <div class="footer">
                                              <hr>
                                              <div class="stats">
                                                  <i class="fa fa-check"></i> Gmail Conectado
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="card ">
                                      <div class="header">
                                          <h4 class="title">Reportes</h4>
                                          <input type="hidden" name="invi" value="{{ p }}" id="hidden" >
                                            <input type="hidden" name="invi" value="{{ e }}" id="hidden1" >
                                              <input type="hidden" name="invi" value="{{ t }}" id="hidden2">
                                          <p class="category">Graficas en Torta</p>
                                      </div>
                                      <div class="content">
                                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                          <script type="text/javascript" src="../static/js/torta.js"></script>
                                          <script type="text/javascript">drawChart()</script>

                                        <div id="piechart" style="width: 100%; height: 100%;"></div>

                                          <div class="footer">

                                              <hr>
                                              <div class="stats">
                                                  <i class="fa fa-check"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Tareas</h4>
                        <p class="category">Tareas en Proceso</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table" id="id_tabla">
                                <tbody>


                            {% for tarea in tareas %}
                            <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="" data-toggle="checkbox">
                                            </label>
                                        </td>

                                        <td>{{tarea.name_task}}</td>
                                        <td class="td-actions text-right">
                                            <a href="{% url 'edit_tasks' pk=tarea.pk %}" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_tasks' pk=tarea.pk %}" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </div>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                                <div class="footer">
                                    <hr>
                                    <div class="states">
                                        <i class="fa fa-history"></i> Actualizado hace 3 minutos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
