<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta  charset="UTF-8" />
</head>
<body>
 <div class="container">
            <div class="form-container flip">
                {% if error %}
                  <div class="alert alert-danger"> {{ error }} </div>
                {% endif %}
                <form class="login-form" action="/logon" method="post">
                    {% csrf_token %}
                    <h3 class="title">Hello.</h3>
                    <div class="form-group" id="username">
                        <input class="form-input" tooltip-class="username-tooltip" name="username" placeholder="Usuario" required="true"></input>
                        <span id="username-tool"class="tooltip username-tooltip">Usuario </span>
                    </div>
                    <div class="form-group" id="password">
                        <input type="password" name="password" class="form-input" tooltip-class="password-tooltip" placeholder="Contraseña"></input>
                        <span class="tooltip password-tooltip"> Contraseña </span>
                    </div>
                    <div class="form-group">
                        <button class="login-button" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>

</body>
</html>