{% load staticfiles %}
<html>
<head>
	<meta  charset="UTF-8" />
	<title>Login</title>
   	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	
	{% block register %}
	{% endblock %}
	
	{% block login_content %}
	{% endblock %}

	{% block content %}
	{% endblock %}

</body>
</html>