{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

	<h1>SET PROFILE</h1>


<div class="container">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}"> Inicio</a>
        </li>
                
        <li>
        <i class="fa fa-user"></i><a href="{% url 'profile' %}"> Profile</a>
        </li>
        
        <li>
             <i class="fa fa-cog" class="active"> Settings</i>
        </li>
    
    
    </ol>
    <div class="row">
        {% if error %}
          <div class="alert alert-danger"> {{ error }} </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success"> Se realizaron los cambios con exito </div>
        {% endif %}

        <div class="col-md-3">
            <h2><font><font><img src="/media/{{ user.foto.url}}" class='img-circle' alt="photo" > </font></font></h2>
            <h2><font><font>{{ user.first_name }} {{ user.last_name }}</font></font></h2>
        </div>


        <div class="col-md-8">

          <form method="post" action="{% url 'change-password' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <label>Username </label><input type="text" class="form-control" name="username"  value="{{ user.username }}" >
            <label>Name </label><input type ="text" class="form-control" name="first_name"  value="{{ user.first_name }}" >
            <label>Last Name </label><input type="text" class="form-control" name="last_name"  value="{{ user.last_name }}" >
            <label>Email </label><input  type="email" class="form-control" name="email"  value="{{ user.email }}" >
            <label>Password </label><input  type="password" class="form-control" name="password1"  value="{{ user.password }}" >

            <label>Cambiar Foto </label>
          <input type="file" name="newfoto" value="Cambiar Foto" class="form-control"/>
           
          <br/>
          <input type="submit" class="btn btn-primary pull-right"  value="update" />
          </form>


        </div>


    </div><!-- row -->


</div><!--container -->

{% endblock %}