{% extends 'base_templates.html' %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>
                
                <li class="active">
                    <i class="fa fa-tags"></i> Customers
                </li>
            </ol>
    </div>
  </div>
<div class="panel">
  <div class="panel-body">
    <form>
    {% csrf_token %}
  	 <label for="states">Eliminar cliente </label><br/>
      <input  value={{customer.name}} />
    <label for="states">Editar Estado</label> <br/>
      <input value= {{customer.name}} />
      <input id="pk" value= {{customer.id}} />    
        
	<button class="btn btn-danger" type="submit">Eliminar</button>
	<a class="btn btn-default" href="{% url 'list_customers' %}">Cancelar</a>
 
  <br/>
    </form>
  </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script>

  $("form").submit(function(event){
         
         console.log( "entrando ajax");
         //console.log(pk);
         event.preventDefault()
         var pk = $("#pk").val();
         console.log(pk);
        $.ajax({
            type: 'DELETE',
            url: '/customers/'+pk,
            
            success: function() {
                alert('Object deleted!')
            },
            
        });

  })          

</script>
{% endblock %}


<!-- {{ object.name }} {{ object.last_name }} -->