{% extends "base.html" %}

{% block content %}



		 <ol class="breadcrumb">

            <li class="active">Login</li>
         </ol>

    {% if error %}
      <div class="alert alert-danger"> {{ error }} </div>
    {% endif %}

    <div class="box_signin">
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
            <form class="form-signin" action="" method="post" >
              {% csrf_token %}
                <h2 class="form-signin-heading text-center">Get in</h2>
                <hr />
                <p>¿You have not yet registered? <a href="{% url 'register-user' %}">Sign up!</a></p>
                <div class="form-group">
                <label for="id_usuario" class="sr-only">User</label>

                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">

                <label for="id_clave" class="sr-only">Password</label>

                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remind me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block"  id="btnEnviar" type="submit">Get in</button>
              </div>
            </form>
            
          </div><!-- col -->
          </div><!-- row-->
      </div><!--box_signin -->
       	
{% endblock %}

