{% extends "base.html" %}

{% block profile_content %}
	<h1>profile</h1>


<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">My profile</li>
    </ol>
    <div class="row">


        <div class="col-md-3">
            <h2><font><font><img src="/media/{{ user.foto }}" class='img-circle' alt="Foto" > </font></font></h2>
            <h2><font><font>{{ user.first_name }} {{ user.last_name }}</font></font></h2>
        </div>

        <div class="col-md-8">

          <form method="post" action="{% url 'change-password' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <label>Username </label><input type="text" class="form-control" name="username"  value="{{ user.username }}" >
            <label>Name </label><input type ="text" class="form-control" name="first_name"  value="{{ user.first_name }}" >
            <label>Last Name </label><input type="text" class="form-control" name="last_name"  value="{{ user.last_name }}" >
            <label>Email </label><input  type="email" class="form-control" name="email"  value="{{ user.email }}" >
            <label>Password </label><input  type="password" class="form-control" name="password1"  value="{{ user.password1 }}" >
           


            </select>
            <label>change photo </label>
          <input type="file" name="newphoto" value="change photo" class="form-control"/>
          <br/>
          <input type="submit" class="btn btn-primary pull-right"  value="update" />
          </form>


        </div>


    </div><!-- row -->


</div><!--container -->

{% endblock %}