{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Contati - Dashboard</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'login/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet" />

</head>
	
<body>
<div class="content">
    <div class="container-fluid">
            <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Contati</strong> Formulario de Registro</h1>
                            <div class="description">
                              <p>
                                ¡Hola! esta es la página de Registro, por favor, introduzca sus datos y disfruta de ella !<br/> Es un tablero Kanban para SistematizarEF.
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    {% if indicador == 0 %}
                                      <div class="alert alert-danger fade in" id="respuesta">
                                          <i class="fa fa-info-circle"></i> <strong>  {{ respuesta }}</strong>
                                    {% elif indicador == 1 %}
                                      <div class="alert alert-success fade in" id="respuesta">
                                          <i class="fa fa-info-circle"></i> <strong>  {{ respuesta }}</strong>
                                    
                                    {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                            
                            <div class="form-bottom">

                             {% if error %}
                                <div class="alert alert-danger"> {{ error }} </div>
                              {% endif %}
                              {% if success %}
                                <div class="alert alert-success"> Nueva usuaro creado correctamente. Puede ingresar ahora </div>
                              {% endif %}

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="co" style="
                                    background-color: rgb(255, 255, 255);
                                    padding: 20px;
                                    -webkit-box-shadow: 2px 2px 12px 0px rgba(46, 50, 50, 0.32);
                                    -moz-box-shadow:    2px 2px 12px 0px rgba(46, 50, 50, 0.32);
                                    box-shadow: 2px 2px 12px 0px rgba(46, 50, 50, 0.32);
                                ">
              <div class="form-top">
                <div class="form-top-left">
                    <h1>Inscríbete ahora</h1>
                    <div class="alert alert-info fade in">
                    <i class="fa fa-info-circle"></i><strong>Completa el siguiente formulario para obtener acceso:</strong>>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
              </div>

          <div class="form-bottom">
         <form method="post" action="" class="registration-form">
          {% csrf_token %}
            <h2 class="form-signin-heading text-center">Registro</h2>
            <hr />
            <div class="form-group">
                <label class="sr-only" for="form-first-name"> Name</label>
                <input type= "text" name="first_name" class="form-first-name form-control" id="first_name" placeholder="Nombre">
            </div>

             <div class="form-group">
              <h4>
                <label class="sr-only" for="form-last-name">Last Name</label>
                <input type = "text" name="last_name" class="form-last-name form-control" id="last_name" placeholder="Apellido"></h4>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-username">Username</label>
                <input type= "text" name="username" class="form-control" id="username" placeholder="Nombre de usuario"></h4>
            </div>
           

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Email</label>
                <input type="email" name = "email" class="form-control" id="email" placeholder="Correo"></h4>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-role">Rol</label>
                <select type= "text" name="role" class="form-control" id="role" placeholder="Rol">

                <option>Colaborador</option>
                <option>Administrador</option>
                </h4>
                </select>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Password</label>
                <input type="password"  name = "password1" class="form-control" id="password1" placeholder="Contraseña"></h4>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Confirm Password</label>
                <input type="password" name='password2' class="form-control" id="password2" placeholder="Confirmar Contraseña"></h4>
            </div>


            <div>
              <p>
                <button type="submit" class="btn btn-lg btn-primary btn-block" >Registrar</button>
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </form>
    </div>
    </div>
    </div>
</div>

</body>
<!--   Core JS Files   -->
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'js/bootstrap-checkbox-radio-switch.js' %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static 'js/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'js/bootstrap-notify.js' %}"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static 'js/light-bootstrap-dashboard.js' %}"></script>

    <script src="{% static 'js/moment.js' %}"></script>  


</html>




    

   


