{% extends "base.html" %}
{% block content %}

	<h1>Register</h1>

      <div class="row">
    <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Inicio</a>
                </li>
                
                <li class="active">
                    <i class="fa fa-file"></i> Register
                </li>
            </ol>
    </div>
    </div>

    <!-- /.row -->
    <div class="col-lg-12">
        <div class="row">
        {% if indicador == 0 %}
            <div class="alert alert-danger fade in" id="respuesta">
                <i class="fa fa-info-circle"></i> <strong>  {{ respuesta }}</strong>
        {% elif indicador == 1 %}
            <div class="alert alert-success fade in" id="respuesta">
                <i class="fa fa-info-circle"></i> <strong>  {{ respuesta }}</strong>
        {% else %}
            <div class="alert alert-info fade in" id="respuesta">
                <i class="fa fa-info-circle"></i> <strong>Please complete the following fields to store registration</strong>
        {% endif %}
            </div>
        </div>
    </div>


        {% if error %}
          <div class="alert alert-danger"> {{ error }} </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success"> New usuaro successfully created. You can enter now </div>
        {% endif %}

 <div class="container">
    <div class="row">
        <div class="col-lg-12">

        <div class="col-sm-12">
                          
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Sign up now</h3>
                  <p>Fill in the form below to get instant access:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
              </div>

          <div class="form-bottom">
         <form method="post" action="" class="registration-form">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-3"></div>
          <div class="col-md-6">

            <div class="form-group">
                <label class="sr-only" for="form-first-name"> Name</label>
                <input type= "text" name="first_name" class="form-first-name form-control" id="first_name" placeholder="nombre">
            </div>

             <div class="form-group">
              <h4>
                <label class="sr-only" for="form-last-name">Last Name</label>
                <input type = "text" name="last_name" class="form-last-name form-control" id="last_name" placeholder="apellido"></h4>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Username</label>
                <input type= "text" name="username" class="form-control" id="username" placeholder="nombre de usuario"></h4>
            </div>
           

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Email</label>
                <input type="email" name = "email" class="form-control" id="email" placeholder="correo"></h4>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Password</label>
                <input type="password"  name = "password1" class="form-control" id="password1" placeholder="contraseña"></h4>
            </div>

            <div class="form-group">
              <h4>
                <label class="sr-only" for="form-email">Confirm Password</label>
                <input type="password" name='password2' class="form-control" id="password2" placeholder="confirmar contraseña"></h4>
            </div>


            <div>
              <p>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Register</button>
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </form>
    </div>
    </div>
</div>

 <!-- Main Content -->
    

   
{% endblock %}

